<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dam.myvet">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyVet">
        <activity android:name=".RegistroActivity"></activity>
        <activity android:name=".ModificaActivity"></activity>
        <activity android:name=".MuestraClienteActivity"></activity>
        <activity android:name=".MuestraMascotaActivity"></activity>
        <activity
            android:name=".MenuClienteActivity"
            android:label="@string/title_activity_menu_cliente"
            android:theme="@style/Theme.MyVet.NoActionBar" />
        <activity
            android:name=".MenuVetActivity"
            android:label="MenuVetActivity"
            android:theme="@style/Theme.MyVet.NoActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
    </application>

</manifest>